<div id="nav" class="nav sticky">
  <div class="nav-flex" id="nav-top" role="navigation">  
    <div class="nav-logo-wrapper">
      <div id="logo" class="nav-logo-top">
        <a href="#" class="logo" style="margin-bottom:-50px">
          <img src="assets/images/logo.png">
        </a>
      </div>
    </div>
    <div class="nav-ghost-wrapper"></div>
    <div class="nav-map-wrapper sm-hide">
      <ul class="nav-map-ul">
        <li class="nav-map-li">
          <a class="" href="#"> Home </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#resources"> About </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#reviews"> Reviews </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#featured-categories"> Portfolio </a>
        </li>
        <li class="nav-map-li">
          <a href="#open-modal"> Contact </a>
        </li>
      </ul>
    </div>
    <div class="nav-social-wrapper sm-hide">
      <div class="nav-social-top">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-google-plus-square"></i>
        <i class="fa fa-houzz"></i>
      </div>
      <div class="nav-weather-wrapper">
        <canvas id="partly-cloudy-day" width="36" height="36">
        </canvas>
        <span>86&deg;</span>
      </div>
    </div>
    <div class="nav-sm-only">
      <a>
        <button type="button" class="mobile-menu"> 
          <span class="hidden">Menu</span>
        </button>
      </a>
    </div>
  </div><!-- .nav-flex -->
  <div class="clearfix"></div>

  <div id="sub-nav" class="nav-sub-wrapper sm-hide">
    <div class="nav-sub">
      <div class="secondary-nav-wrapper">
        <ul class="secondary-nav">
          <li class="sub-nav-item"><a href="#"> Residential Pools </a></li>
          <li class="sub-nav-item"><a href="#"> Special Features </a></li>
          <li class="sub-nav-item"><a href="#"> Swim Spas </a></li>
          <li class="sub-nav-item item-selected"><a href="/outdoor-living.html"> Outdoor Living </a></li>
          <li class="sub-nav-item"><a href="#"> Financing </a></li>
        </ul>
      </div>

    </div>

  </div>

  <div id="nav-mobile" class="nav-sm-only collapsed">
    <ul class="nav-mobile-ul">
      <a class="" href="#">
        <li class="nav-mobile-li">
          Home
        </li>
      </a>
      <a class="smoothScroll" href="#resources">
        <li class="nav-mobile-li">
          About
        </li>
      </a>
      <a class="smoothScroll" href="#reviews">
        <li class="nav-mobile-li">
          Reviews 
        </li>
      </a>
      <a class="smoothScroll" href="#featured-categories">
        <li class="nav-mobile-li">
          Portfolio
        </li>
      </a>
    </ul>
  </div>
</div>