<div class="banner" id="banner">
  <div class="banner-wrapper">
    <a href="#open-modal"><img src="assets/images/icon02.png"></a>
    <p class="flex-1">
      <span id="banner-a" class="bold hidden-on-mobile">
        Download the Checklist &nbsp;&rarr;
      </span>
      <span id="banner-b" class="bold">
        10 Tips for a Perfect Pool
      </span>
    </p>
    <a href="#open-modal" style="color:white"><button class="btn btn-main"> Download</button></a>
  </div>
</div>