<section id="featured-categories">
  <div class="featured-category" style="background-image: url(assets/images/slide07.jpg)">
    <a href="assets/images/slide07.jpg" class="fa fa-star-o fancybox" rel="group">
      <h2> Residential Pools </h2>
    </a>
  </div>
  <div class="featured-category" style="background-image: url(assets/images/slide02.jpg)">
    <a href="assets/images/slide02.jpg" class="fa fa-lightbulb-o fancybox" rel="group">
      <h2> Waterfalls </h2>
    </a>
  </div>
  <div class="featured-category" style="background-image: url(assets/images/slide08.jpg)">
    <a href="assets/images/slide08.jpg" class="fa fa-home fancybox" rel="group">
      <h2> Spas </h2>
    </a>
  </div>
  <div class="featured-category" style="background-image: url(assets/images/slide02.jpg)">
    <a href="assets/images/slide02.jpg" class="fa fa-wrench fancybox" rel="group">
      <h2> Outdoor Kitchens </h2>
    </a>
  </div>
  <div class="featured-category" style="background-image: url(assets/images/slide04.jpg)">
    <a href="assets/images/slide04.jpg" class="fa fa-signal fancybox" rel="group">
      <h2> Patios </h2>
    </a>
  </div>
  <div class="featured-category" style="background-image: url(assets/images/slide05.jpg)">
    <a href="assets/images/slide05.jpg" class="fa fa-newspaper-o fancybox" rel="group">
      <h2> Decks </h2>
    </a>
  </div>
</section>
<section id="featured-posts">
  <div class="featured-post" style="background-image: url(assets/images/slide14.jpg)">
    <a class="fancybox"  href="assets/images/slide14.jpg" rel="group">
      <h2 class="meta-type story-type"> Arbors, Pergolas &amp; Cabanas </h2>
      <div class="post-meta">
        <span> Diane Arthur on 16 May 2016 </span>
      </div>
    </a>
  </div>
  <div class="featured-post" style="background-image: url(assets/images/slide06.jpg)">
    <a class="fancybox"  href="assets/images/slide06.jpg" rel="group">
      <h2 class="meta-type gallery-type"> Decks, Patios &amp; Hardscapes </h2>
      <div class="post-meta">
        <span> Bob Arthur on 13 May 2016 </span>
      </div>
    </a>
  </div>
  <div class="featured-post" style="background-image: url(assets/images/slide09.jpg)">
    <a class="fancybox" href="assets/images/slide09.jpg" rel="group">
      <h2 class="meta-type gallery-type"> Fireplaces &amp; Firepits </h2>
      <div class="post-meta">
        <span> Diane Arthur on 13 May 2016 </span>
      </div>
    </a>
  </div>
</section>
<div class="clearfix"></div>