<div class="footer row" id="footer">
  <div class="footer-top">
    <ul class="footer-ul">
      <li class="footer-li">
        <a class="" href="#"> Home </a>
      </li>
      <li class="footer-li">
        <a class="smoothScroll" href="#featured-categories"> Pools </a>
      </li>
      <li class="footer-li">
        <a class="smoothScroll" href="#reviews"> Testimonials </a>
      </li>
      <li class="footer-li">
        <a class="smoothScroll" href="#featured-categories"> Projects </a>
      </li>
      <li class="footer-li">
        <a class="smoothScroll" href="#resources2"> Resources </a>
      </li>
      <li class="footer-li">
        <a class="smoothScroll" href="#resources"> About Us </a>
      </li>
      <li class="footer-li">
        <a href="#open-modal"> Get a Quote </a>
      </li>
    </ul>
  </div>
  <hr style="border-color: #666">
  <div class="footer-bottom">
    <div class="copyright">
      <p> © Sun Ray Pools 2016 </p>
    </div>
    <div class="social">
      <p> Follow us </p>
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-houzz"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-google-plus-square"></i>
    </div>
  </div>
</div>