<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sun Ray Pools</title>
  <base href="/">
	<script src="../assets/lib/handlebars/handlebars.runtime.min.js"></script>
	<script src="./partials/Head.js"></script>
	<script src="./partials/Nav.js"></script>
	<script>
	  document.querySelector('#headDiv').innerHTML = MyApp.templates.Head();
	  document.querySelector('#navDiv').innerHTML = MyApp.templates.Nav();
	</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./assets/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="./assets/lib/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/lib/fancybox/jquery.fancybox.css?v=2.1.5">
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
