<div class="hero ct" id="hero" style="background: url(assets/images/hero01.jpg); background-size: cover; background-position: center center;">
  <div class="hero-cta">
    <div class="hero-cta-h1">
      <h1 id="hero-header">It’s Summertime.</h1>
    </div>
    <div class="hero-cta-ul">
      <ul id="hero-ul">
        <a class="active" id="hero01" href="#"><li> Pools </li></a>
        <a id="hero02" href="#"><li> Spas </li></a>
        <a id="hero03" href="#"><li> Firepits </li></a>
        <a id="hero04" href="#"><li> Patio </li></a>
      </ul>
    </div>
    <div class="hero-cta-btn">
      <form>
        <input placeholder="Enter your email address...">
      </form>
      <div class="hero-cta-btn-submit">
        <button type="submit"> Submit </button>
      </div>
    </div>
  </div>
</div>