<div class="partners">
  <ul>
    <li class="partner partner01"><img src="assets/images/partner01.jpg"></li>
    <li class="partner partner02"><img src="assets/images/partner02.jpg"></li>
    <li class="partner partner03"><img src="assets/images/partner03.jpg"></li>
    <li class="partner partner04"><img src="assets/images/partner04.jpg"></li>
  </ul>
</div>