Pentair – Pool Equipment
Sun Ray Pools Helps You Save Money AND the Planet with energy efficient equipment.
 
Sun Ray Pools is fully committed to environmental excellence. Whenever possible, we help pool owners reduce energy consumption and make more environmentally responsible decisions. Join us in embracing a more energy-efficient and environmentally responsible future by adding energy efficient products for your poolscape.
 
PUMPS
The Heart of Your Pool’s Circulation System
 
For maximum efficiency and energy savings, we offer and recommend the most advanced “variable speed” pool pumps available from Pentair. These pumps incorporate innovative hydraulic engineering that has been refined to circulate water more efficiently and quietly than other pumps. They also include convenience features that make routine maintenance fast and easy.
 
HIGH-EFFICIENCY HEATERS
High-Performance, Yet Eco-Friendly
 
Our recommended MasterTemp® heater from Pentair offers all the efficiency, convenience and reliability features you want in a pool heater, plus a lot more. It offers best-in-class energy efficiency, and is certified for low NOx emission. The compact design and super-quiet operation won’t intrude on your poolside leisure time. And the tough, rustproof exterior handles the heat and weathers the elements faithfully.
 
HEAT PUMPS: Maximum Efficiency, Day or Night
Heat pumps offer the most energy-efficient source of “on-demand” heat for your pool or spa. Compared to gas, oil, or electric heaters, the UltraTemp® High Performance Heat Pump uses 1/5 the energy to generate the same amount of heat. That means more comfortable water temperatures, and greater savings for everyone.
 
LED LIGHTS: Save Energy While Creating a Nighttime Wonderland
The right choice of pool, spa, and landscape lighting can turn pleasant poolside evenings into magical nights in your backyard wonderland. And because we use and recommend LED lighting, they provide the most energy-efficient lighting ever. The IntelliBrite® LED pool lights use 89% less electricity than traditional incandescent and halogen pool lights.
 
The IntelliBrite® Landscape Lights offer similar savings, and provide 5 fixed colors and 7 different “show” features. These lights can be mounted in any position on the wall or ground with an arm swing of 0 degrees to 90 degrees.
 
QUAD D.E. WATER FILTERS: Highest Clarity, Lowest Fuss
Quad D.E.® cartridge-style filters combine the finest filtration available for the most sparkling clear water with the convenience and easy-cleaning features usually found only in a cartridge filter. Four easily accessible and removable D.E. cartridges simplify maintenance and save time. These large-capacity cartridges provide maximum filter surface area for greater dirt-trapping capacity and longer periods between cleanings. And the easily removable cartridge elements make maintenance fast and easy.
 
Cleaners
Relax, Play, and Enjoy. The Cleaning Is Automatic!
 
Our cleaners offer the best combination of cleaning performance, simplicity, convenience, and long-term reliability. We offer the widest assortment of pressure-side, suction-side, and robotic cleaners in the world. So no matter what your cleaning challenge or budget, there’s always a cleaner that’s right for your pool.
 
Automation
Put Your Pool on Cruise Control with Automated Control Systems.
 
With our automated control systems, the scheduling and operation of your filtration cycles, your heating, pool lighting, landscape lighting, sanitization, waterfalls, and fountains will all be blissfully automatic. System controllers and remote controls have been designed to be push-button simple, with easy-to-read digital displays and step-by-step menu-driven instructions.
 
And when we say “remote,” we really do mean remote. You can operate your pool from your iPad, iPhone, iPod, Android device, or PC or Macintosh computer, from anywhere in the world. Perfect for warming up the hot tub as you’re heading home from work.
 
Sanitation
Keep Your Pool Water Sanitary, Automatically.
 
Our automatic chlorine generator and automatic chlorine and bromine feeders are the easiest and most efficient ways to
sanitize your pool. They not only save time, but also minimize the manual handling of chemicals. In fact, our IntelliChlor® salt chlorine generator uses common table salt to produce all the chlorine your pool will need—safely, effectively, and automatically. It’s the same sanitation performance as manual chlorine delivery, but without all the drawbacks. You’ll never need to buy, transport, handle, or store chlorine again!
 
Another option is our IntellipH Controller. It’s a safe and convenient way to regulate a swimming pool’s pH level. It automatically dispenses muriatic acid into the pool to eliminate fluctuations in the pH level. IntellipH is the perfect companion for the IntelliChlor salt chlorine generator; together, they help sanitize and balance pool water to keep it sparkling clear.
 
Chemical Control
Keep Your Pool Water Perfectly Balanced with Hands-Free, Automated Ease.
 
It can be a challenge to keep the pH and chlorine levels of your pool in constant balance, especially if you travel a lot. The IntelliChem® chemical controller manages this for you automatically by monitoring your pool’s pH and sanitizer levels, and delivering just the right amount of chemicals. IntelliChem uses the same technology found in commercial installations, water parks, hotel, and community pools. It can work independently, or together with Pentair automation products—so you can check your water chemistry at a glance.