<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="assets/lib/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="assets/lib/fancybox/jquery.fancybox.css?v=2.1.5">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/lib/handlebars/handlebars.runtime.min.js"></script>

  <script src="partials/App.js"></script>
  <script src="partials/Hero.js"></script>
  <script src="partials/Banner.js"></script>
  <script src="partials/Featured.js"></script>
  <script src="partials/Resources.js"></script>
  <script src="partials/Partners.js"></script>
  <script src="partials/Foot.js"></script>

	<script src="assets/lib/jquery/jquery-1.12.3.js"></script>
	<script src="assets/lib/bootstrap/js/bootstrap.js"></script>
	<script src="assets/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
	<script src="assets/lib/skycons/skycons.js"></script>
	<script src="assets/js/scripts.js"></script>
	<title>Sun Ray Pools | Sun Deep Heat </title>
</head>
<body>

<div id="navDiv"></div>
<div id="landingMain" class="landingBG">


<div id="sun-deep-section" class="section-wrapper">

	<div class="section-header">
		<h1>
			What is Sun Deep Heat, and How Does it Work?
		</h1>
	</div>

	<div class="section-subheader">
		<h3>
			Save Money and Enjoy Your Pool More with Our Exclusive "DEEP HEAT" Feature
		</h3>
	</div>

	<div class="sun-deep-item">
		<p>
			At Sun Ray pools, we've utilized some good science and little innovation to produce energy-saving swimming pool that:
		</p>
	</div>

	<div class="sun-deep-item sun-deep-list">
		<ul>
			<li>Uses less energy (and money) to heat your pool.</li>
			<li>Heats your pool more uniformly.</li>
			<li>Reduces chemical usage as well.</li>
		</ul>	
	</div>

	<div class="sun-deep-item">
		<p>
			Most homeowners are well aware of the high cost of fossil fuel, both in terms of out of their pockets, and also the potential damage to the ecology of our planet. That's why we're happy to offer this feature that promotes "sustainability" and reduces the depletion of natural resources.
		</p>
	</div>

	<div class="sun-deep-item">
		<div class="section-subheader">
			<h3>
				Here’s how it works:
			</h3>
		</div>
		<p>
			When it’s time to install your pool plumbing, the Sun Ray plumbers will place your heating inlets, (i.e., the water "returns" from your filter and heater back to the pool) into the floor of the pool. Based on the pool design, the heating inlets are designed as series of inlets called a grid so that the heated water is distributed most evenly throughout the pool.
		</p>
	</div>
	 
	<div class="sun-deep-item">
		<p>
			The benefit of sending the heated water to the floor is that the heated water enters the pool from the bottom, instead of through a regular pool inlet that is typically only 12 to 14 inches from the pool surface. The result is that the hot water (and heat) must “travel” from the floor to the surface, thereby insuring that the every ounce of heating energy is utilized to heat your pool. (Compare that to the typical inlets, where the heat travels about 14 inches, and then skates through the surface of the pool.)
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			As a result of heating from the pool bottom, it takes less time to heat. Our heating method validates the expression, “time is money,” because the less time your heater is running, the lower your heating costs. When you can achieve the desired water temperature in less time, the result is more money saved.
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			We call this special heating method, “Deep Heat.” It’s very popular with our customers, and they'll be the first to tell you that our Deep Heat customers are very happy swimming pool owners. One important reason for this is because they are able to swim much longer into the fall well past the average swimming season and begin swimming much sooner in the spring. You make payments every month of the year, so why would you want to swim for only 6 months when you could swim nearly all year?
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			Pretty neat so far? Okay, good, but wait, let’s investigate a little further and see how a Sun Ray Deep Heat pool can save you even more money.
			</p>
</div>

	<div class="sun-deep-item">
		<p>
			Most swimming pools still use gas heaters. And as we have discussed, adding a Sun Ray Deep Heating system will save you lots of money. But if you’re interested in saving even MORE money, then it’s time to seriously consider a heat pump.
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			Why is a heat pump? Aren’t they more expensive? Well, initially yes, but eventually no. Let’s look at yes first. A heat pump will cost more than a natural gas heater, so it’s true that a fossil fuel gas heater is cheaper in today’s dollars than a heat pump. That’s the yes part. Now for the no advantage. A heat pump does not use gas…ever! It “exchanges” or “gathers” the heat generated during the normal, basic operation of your home. What it does with this “captured heat” is apply it to your swimming pool heating. What would normally be heat released into the atmosphere now becomes heat for your pool. The heat exchange system will repurpose the heat that would ordinarily be wasted.
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			Whether you elect to Deep Heat using a gas-fired heater, or go “all in” and Deep Heat with a heat pump, you are playing your part to reduce waste and pollution by changing patterns of production and consumption. “Source Reduction” is what you’re putting into use. Making money is a bonus for your effort. Feels good, doesn’t it?
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			The best is last. If you plan to live in your current home for a few years, the accumulated savings generated using the Sun Ray Deep Heat system pays for itself!
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			That’s right. By utilizing our Deep Heat plumbing and using either a gas-fired heater or heat pump, you will pay for these items with the reduced cost savings your green technology has earned for you.
		</p>
	</div>

	<div class="sun-deep-item">
		<p>
			We welcome the opportunity to visit with you and design a beautiful pool that will have a positive impact for your family and our environment.
		</p>
	</div>

</div>



</div>
<div class="clearfix"></div>
<div id="partnersDiv"></div>
<div id="footDiv"></div>
</div><!-- #landingMain -->
<script>
  // template : App.hbs === navigation bar;
  document.querySelector('#navDiv').innerHTML = MyApp.templates.App();
  document.querySelector('#partnersDiv').innerHTML = MyApp.templates.Partners();
  document.querySelector('#footDiv').innerHTML = MyApp.templates.Foot();
</script>
</body>
</html>