<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="assets/lib/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="assets/lib/fancybox/jquery.fancybox.css?v=2.1.5">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/lib/handlebars/handlebars.runtime.min.js"></script>

  <script src="partials/App.js"></script>
  <script src="partials/Hero.js"></script>
  <script src="partials/Banner.js"></script>
  <script src="partials/Featured.js"></script>
  <script src="partials/Resources.js"></script>
  <script src="partials/Partners.js"></script>
  <script src="partials/Foot.js"></script>

	<script src="assets/lib/jquery/jquery-1.12.3.js"></script>
	<script src="assets/lib/bootstrap/js/bootstrap.js"></script>
	<script src="assets/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
	<script src="assets/lib/skycons/skycons.js"></script>
	<script src="assets/js/scripts.js"></script>
	<title>Sun Ray Pools | Swimming Pools </title>
</head>
<body>

<div id="nav" class="nav sticky">
  <div class="nav-flex" id="nav-top" role="navigation">  
    <div class="nav-logo-wrapper">
      <div id="logo" class="nav-logo-top">
        <a href="#" class="logo" style="margin-bottom:-50px">
          <img src="assets/images/logo.png">
        </a>
      </div>
    </div>
    <div class="nav-ghost-wrapper"></div>
    <div class="nav-map-wrapper sm-hide">
      <ul class="nav-map-ul">
        <li class="nav-map-li">
          <a class="" href="#"> Home </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#resources"> About </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#reviews"> Reviews </a>
        </li>
        <li class="nav-map-li">
          <a class="smoothScroll" href="#featured-categories"> Portfolio </a>
        </li>
        <li class="nav-map-li">
          <a href="#open-modal"> Contact </a>
        </li>
      </ul>
    </div>
    <div class="nav-social-wrapper sm-hide">
      <div class="nav-social-top">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-google-plus-square"></i>
        <i class="fa fa-houzz"></i>
      </div>
      <div class="nav-weather-wrapper">
        <canvas id="partly-cloudy-day" width="36" height="36">
        </canvas>
        <span>86&deg;</span>
      </div>
    </div>
    <div class="nav-sm-only">
      <a>
        <button type="button" class="mobile-menu"> 
          <span class="hidden">Menu</span>
        </button>
      </a>
    </div>
  </div><!-- .nav-flex -->
  <div class="clearfix"></div>

  <div id="sub-nav" class="nav-sub-wrapper sm-hide">
    <div class="nav-sub">
      <div id="nav-test" class="secondary-nav-wrapper">
        <ul id="secondary-ul" class="secondary-nav">
          <li class="sub-nav-item item-selected"><a href="/swimming-pools.html"> Residential Pools </a></li>
          <li class="sub-nav-item"><a href="special-features.html"> Special Features </a></li>
          <li class="sub-nav-item"><a href="swim-spas.html"> Swim Spas </a></li>
          <li class="sub-nav-item"><a href="outdoor-living.html"> Outdoor Living </a></li>
          <li class="sub-nav-item"><a href="financing.html"> Financing </a></li>
        </ul>
      </div>

    </div>

  </div>

  <div id="nav-mobile" class="nav-sm-only collapsed">
    <ul class="nav-mobile-ul">
      <a class="" href="#">
        <li class="nav-mobile-li">
          Home
        </li>
      </a>
      <a class="smoothScroll" href="#resources">
        <li class="nav-mobile-li">
          About
        </li>
      </a>
      <a class="smoothScroll" href="#reviews">
        <li class="nav-mobile-li">
          Reviews 
        </li>
      </a>
      <a class="smoothScroll" href="#featured-categories">
        <li class="nav-mobile-li">
          Portfolio
        </li>
      </a>
    </ul>
  </div>
</div>


<div id="landingMain" class="landingBG">









<div class="section-wrapper below-fold">
	
	<div class="title ct">
		<h2>
			Most expensive
		</h2>
	</div>

	<div class="subtitle ct">
		<h3>
			The highest priced listings in Austin
		</h3>
	</div>



<div id="carousel-wrapper">
	<span class="carousel-btn icon-left"></span>
	<div class="carousel-scroll-wrapper">
		<ul class="collection-properties">

			<li>
				<div class="photo-card">
					<div class="photo-card-content">
						<div class="photo-card-caption">
							<h4 class="photo-card-spec"> For Sale By Owner </h4>
							<p class="photo-card-spec">
								<span class="photo-card-large">
									$779,000,000	
								</span>
								<span class="photo-card-small">
									4 bds
									<span class="interpunct">.</span>
									4 ba
									<span class="interpunct">.</span>
									2,413 sqft
								</span>
							</p>
							<p class="photo-card-spec">
								<span class="photo-card-info">7 days on Zillow</span>
								<span class="interpunct">.</span>
								<span class="photo-card-note">5555 Duval St, Austin, TX</span>
							</p>
						</div>
						<a href="#" class="photo-card-overlay-link"></a>
						<div class="photo-card-img"><img src="assets/images/img01.jpg" alt="image 1"></div>
						<div class="photo-card-actions">
							<a href="#"><span class="image-control heart"></span></a>
							<a href="#"><span class="image-control cancel"></span></a>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div class="photo-card">
					<div class="photo-card-content">
						<div class="photo-card-caption">
							<h4 class="photo-card-spec"> For Sale By Owner </h4>
							<p class="photo-card-spec">
								<span class="photo-card-large">
									$779,000,000	
								</span>
								<span class="photo-card-small">
									4 bds
									<span class="interpunct">.</span>
									4 ba
									<span class="interpunct">.</span>
									2,413 sqft
								</span>
							</p>
							<p class="photo-card-spec">
								<span class="photo-card-info">7 days on Zillow</span>
								<span class="interpunct">.</span>
								<span class="photo-card-note">5555 Duval St, Austin, TX</span>
							</p>
						</div>
						<a href="#" class="photo-card-overlay-link"></a>
						<div class="photo-card-img"><img src="assets/images/img02.jpg" alt="image 1"></div>
						<div class="photo-card-actions">
							<a href="#"><span class="image-control heart"></span></a>
							<a href="#"><span class="image-control cancel"></span></a>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div class="photo-card">
					<div class="photo-card-content">
						<div class="photo-card-caption">
							<h4 class="photo-card-spec"> For Sale By Owner </h4>
							<p class="photo-card-spec">
								<span class="photo-card-large">
									$779,000,000	
								</span>
								<span class="photo-card-small">
									4 bds
									<span class="interpunct">.</span>
									4 ba
									<span class="interpunct">.</span>
									2,413 sqft
								</span>
							</p>
							<p class="photo-card-spec">
								<span class="photo-card-info">7 days on Zillow</span>
								<span class="interpunct">.</span>
								<span class="photo-card-note">5555 Duval St, Austin, TX</span>
							</p>
						</div>
						<a href="#" class="photo-card-overlay-link"></a>
						<div class="photo-card-img"><img src="assets/images/img03.jpg" alt="image 1"></div>
						<div class="photo-card-actions">
							<a href="#"><span class="image-control heart"></span></a>
							<a href="#"><span class="image-control cancel"></span></a>
						</div>
					</div>
				</div>
			</li>
			
		</ul>
	</div>
	<span class="carousel-btn icon-right"></span>

</div>












<div id="swimming-pools-section" class="section-wrapper">

	<div class="section-header">
		<h1>
			What Will YOUR New Pool Look Like?
		</h1>
	</div>

	<div class="section-subheader">
		<h3>
			Save Money and Enjoy Your Pool More with Our Exclusive "DEEP HEAT" Feature
		</h3>
	</div>

	<div class="swimming-pools-item">
		<p>
			Here you’ll see some examples of how beautiful your new pool can be. We have LOTS of great photos here, so please forgive us if this page takes a moment or two to load. (I think you'll find the photos are worth the wait.) For even more photos and ideas, be sure to get our <a href="10-steps-report-request.html">Free 10 Steps Report</a>.
		</p>
	</div>

	<div class="swimming-pools-item">
		<p>
			For a one-on-one consultation on your backyard oasis, give us a call at <a href="#">(972) 333-0714</a>. One of our design specialists will be happy to help you.
		</p>
	</div>

</div>
</div>

</div><!-- .below-fold -->
<div class="clearfix"></div>
<div id="partnersDiv"></div>
<div id="footDiv"></div>
</div><!-- #landingMain -->
<script>
  // template : App.hbs === navigation bar;
  document.querySelector('#navDiv').innerHTML = MyApp.templates.App();
  document.querySelector('#partnersDiv').innerHTML = MyApp.templates.Partners();
  document.querySelector('#footDiv').innerHTML = MyApp.templates.Foot();
</script>
</body>
</html>